body {
    background-image: url('https://github.com/24PAnanya/CS102-LAB4/blob/main/img/seedling.jpg?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#title {
    text-align: center;
    font-size: 75px;
    color: #222A35;
    font-family: Algerian;
    padding-top: 80px;
}

#link {
    text-align: center;
    font-size: 20px;
    font-family: Calibri;
    padding-top: 50px;
}

a:link { color: #000000; }
a:visited { color: #730047; }
a:hover { color: #005203; }
a:active { color: #250084 }

#about_us_title {
    font-family: Calibri;
    font-size: 25px;
    padding-left: 800px;
    padding-top: 50px;
    padding-bottom: 25px;
}

p {
    line-height: 27.5px;
    margin-top: 0;
    margin-bottom: 7.5px;
}

#about_us_desc {
    font-family: Calibri;
    font-size: 20px;
    padding-left: 800px;
    text-align: justify;
    width: 650px;
    text-indent: 20px;
    padding-top: 60px;
}

#thank_you {
    font-family: Calibri;
    font-size: 20px;
    padding-left: 800px;
    text-align: justify;
    width: 650px;
}
